.main__banner {
    width: 100%;
    height: 556px;
    position: relative;

    .carousel {
        height: 556px;
        .img-banner {
            height: 556px !important;
        }
    }
}
