.main__sale_product {
    margin: auto;
    width: 90%;
    height: 570px;
    position: relative;
    margin-bottom: 30px;

    img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
}
